.DS_Store
npm-debug.log
node_modules
package-lock.json
.settings
attic
/dist/fronkensteen.html
publish_live_site
filesystem/fronkensteen_fs.json
/dist/sw.js
/dist/icon*
/dist/manifest*
/pwa/sw.js
packages
