[submodule "popoverjs"]
	path = popoverjs
	url = https://github.com/popoverjs/popoverjs.git
[submodule "MathJax"]
	path = MathJax
	url = https://github.com/mathjax/MathJax.git
[submodule "tipograph"]
	path = tipograph
	url = https://github.com/pnevyk/tipograph.git
[submodule "prism"]
	path = prism
	url = https://github.com/PrismJS/prism.git
[submodule "CodeMirror"]
	path = CodeMirror
	url = https://github.com/codemirror/CodeMirror.git
[submodule "animate.css"]
	path = animate.css
	url = https://github.com/animate-css/animate.css.git
[submodule "js-beautify"]
	path = js-beautify
	url = https://github.com/beautify-web/js-beautify
[submodule "Font-Awesome"]
	path = Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "markdown-it"]
	path = markdown-it
	url = https://github.com/markdown-it/markdown-it.git
[submodule "topcoat"]
	path = topcoat
	url = https://github.com/topcoat/topcoat.git
[submodule "biwascheme"]
	path = biwascheme
	url = https://github.com/biwascheme/biwascheme.git
