.DS_Store
npm-debug.log
node_modules
package-lock.json
.settings
attic
publish_live_site
filesystem/fronkensteen_fs.json
packages
dist/*.png
dist/*.ico
dist/*.html
dist/*.webmanifest
dist/*.js
dist/*.svg
