.fu_popover_Theme_topcoat {
   position: absolute;
   background: #EFF1F1;
   z-index: 1060;
   -webkit-background-clip: padding-box;
   background-clip: padding-box;
   border: 1px solid #D6DCDB;
   border-radius: 8px;
   -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.fu_popover_header_Theme_topcoat{
   margin: 0;
   padding: 8px 14px;
   font-size: 14px;
   text-align: center;
   color:#000000;
   background-color: #EFF1F1;
   border-bottom: 1px solid #D6DCDB;
   border-radius: 8px 8px 0 0;
}
.fu_popover_content_Theme_topcoat{
   padding: 9px 14px;
}
.fu_popover_Theme_topcoat:after, .fu_popover_Theme_topcoat:before {
   border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
}
.fu_popover_Theme_topcoat:after {
   border-color: rgba(255, 255, 255, 0);
   border-width: 10px;
}
.fu_popover_Theme_topcoat:before {
   border-color: rgba(0, 0, 0, 0);
   border-width: 11px;
}
.arrow_top_Theme_topcoat:after{
   left: 50%;
   bottom: 100%;
   border-bottom-color: #EFF1F1;
   margin-left: -10px;
}
.arrow_top_Theme_topcoat:before{
   left: 50%;
   bottom: 100%;
   border-bottom-color: #D6DCDB;
   margin-left: -11px;
}
.arrow_bottom_Theme_topcoat:after{
   left: 50%;
   top: 100%;
   border-top-color: #EFF1F1;
   margin-left: -10px;
}
.arrow_bottom_Theme_topcoat:before{
   left: 50%;
   top: 100%;
   border-top-color: #D6DCDB;
   margin-left: -11px;
}
.arrow_left_Theme_topcoat:after{
   right: 100%;
   top: 50%;
   border-right-color: #EFF1F1;
   margin-top: -10px;
}
.arrow_left_Theme_topcoat:before{
   right: 100%;
   top: 50%;
   border-right-color: #D6DCDB;
   margin-top: -11px;
}
.arrow_right_Theme_topcoat:after{
   left: 100%;
   top: 50%;
   border-left-color: #EFF1F1;
   margin-top: -10px;
}
.arrow_right_Theme_topcoat:before{
   left: 100%;
   top: 50%;
   border-left-color: #D6DCDB;
   margin-top: -11px;
}
