body {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen-Sans,
          Ubuntu, Cantarell,
          "Helvetica Neue", sans-serif, Kitchen-Sink;
  font-size:18px;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:0;
  padding:0;
  line-height:1.33em;
  background: #bbb;
  overflow:hidden;
}

textarea::-moz-selection {
  color: white;
  background-color: rebeccapurple;
}

textarea::-webkit-selection {
  color: white;
  background-color: rebeccapurple;
}
textarea::selection {
  color: white;
  background-color: rebeccapurple;
}


#upload_download{
  display:none;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header {
  font-size:150%;
}

footer{
  font-size: 50%;
}
.smallfont{
  font-size:50%;
}



.fronkensteen-file-uploader{
  visiblity:hidden;
  z-index:0;
}



table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #bbb;
  padding:0.25em;
}

mark {
  background-color: #ddd;
}

.activeSearchResult {
  background-color:rebeccapurple;
  color:white;
}
